# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Data & Weights
*.h5
*.ckpt
*.pt
*.pth

# However, we DO want to commit the specific weights file in backend/weights
!backend/weights/*.h5

# macOS
.DS_Store
